.wrapper {

    &:hover {
        cursor: pointer;
        background-color: rgb(214, 238, 242);
    }
}

.subFuntion {
    margin-left: 16px;
    width: 328px;
    height: 44px;
    display: flex;
    align-items: center;


    .icon {
        :first-child {
            width: 28px;
            height: 28px;
            border-radius: 50%;

        }
    }

    .title {
        font-size: 15px;
        margin-left: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}